// @import './common';
// @import './example';

body {
  background-color: rgb(103, 122, 103);
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(76, 71, 71)
}

.search-form input:focus {
  outline: transparent;
  border: 2px solid #0a0b5f
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 10px;
  min-width: 50px;
  // border-radius: 4px;
  border-radius: 0 5px 5px 0;
  border: none;
  // background-color: tomato;
  cursor: pointer;
}

.icon {
  fill:#0a0b5f
}

.load-more {
  display: block;
  margin: 0 auto;
  padding: 10px 24px;

  min-width: 100px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: .06em;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: tomato;
  cursor: pointer;
}

.is-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.photo-card {
  max-width: 300px;
  height: auto;

  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(143, 199, 143);
  overflow: hidden;
}

.gallery__link {
  display: block;
  width: 100%;
  height: 200px;
}

.gallery__link > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.info-item > b {
  display: flex;
  font-size: 14px;
  text-align: center;
}